# Ignora qualquer pasta target em qualquer lugar do projeto
**/target/
**/.settings/
**/.project/
**/.classpath/

# Arquivos da IDE
.idea/
*.iml

# Extensões e cache do VS Code
.vscode/
.history/
*.code-workspace

# Arquivos de sistema
Thumbs.db
.DS_Store